* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-image: url("bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 100%;
  max-width: 375px;
  min-height: 640px;
  overflow: hidden;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  justify-content: center;
  background-color: rgb(2, 61, 85);
}

.layar {
  min-height: 200px;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  flex: 1 1 0%;
}
.layar .input {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: aliceblue;
}

.layar .output {
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  color: aliceblue;
}
.layar .opr {
  color: rgb(194, 2, 2);
}
.btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.3rem;
  padding: 1.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0px -2px 16px rgba(3, 107, 252, 0.2);
}

.angka,
.op,
.hapus {
  position: relative;
  display: block;
  padding-top: 100%;
  cursor: pointer;
  color: aliceblue;
  border-radius: 50%;
  background-color: rgb(11, 158, 151);
  transition: 0.2s;
  user-select: none;
}

.op,
.hapus {
  color: black;
  background-color: rgb(255, 153, 0);
}

.hapus {
  background-color: red;
  color: aliceblue;
}

.btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 700;
}

.btn:hover {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}

